.root {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 20px;
    font-size: 14px;
}

.container {
    position: relative;
}

.word {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 3px;
}

.pronunciation {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;

    span {
        font-weight: 600;
    }
}

.optText {
    color: #424242;
}

.title {
    font-size: 18px;
    color: #757575;
    margin-top: 12px;
}

.form {
    margin-right: 8px;
}

.phrase {
    font-weight: 500;
}

.pony {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
