@import "src/styles/var/colors";

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;

    .input {
        flex: 1;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        height: 75px;
        margin-right: 10px;
    }

    .button {
        background-color: $blue;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        transition: all .15s linear;

        &:hover {
            background-color: darken($blue, 8);
        }
    }
}